{% extends "auctions/layout.html" %}

{% block body %}

    <!--h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'auctions:login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'auctions:register' %}">Register here.</a-->



    <form action="{% url 'auctions:login' %}" method="post">
        {% csrf_token %}
        <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center text-xl">
            <h3 width="60%" style="margin-left: 20%;"class="my-4 text-5xl font-bold leading-tight">
                Login to Auctionzzz
            </h3>
            <table width="80%" style="margin:auto;">
                
                <tr>
                    <td style="text-align: right;">Username : </td>
                    <td>
                        <div class="text-gray-800 leading-normal text-xl m-1 p-6">
                            <input autofocus class="form-control" type="text" name="username" placeholder="Username"> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">Password : </td>
                    <td>
                        <div class="text-gray-800 leading-normal text-xl m-1 p-6">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                    </td>
                </tr>            
                <tr>
                    <td></td>
                    <td style="text-align: left; ">
                    Don't have an account? <a href="{% url 'auctions:register' %}" class="hover:underline">Register here.</a>
                    </td>
                </tr>
                <tr >
                    <td colspan="2"><br>
                  <button class="mx-auto lg:mx-0 hover:underline bg-gray-800 text-white font-bold rounded my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out flex-1  " type="submit" value="Login" style="width: 85%;margin: 6px 10% 6px 5%">
                    Login
                    </button><br><br>
                </td>
                </tr>
            
        </table>
</div></form>

    
    
{% endblock %}